@import url('https://fonts.googleapis.com/css2?family=Fahkwang:wght@300&family=Titillium+Web:wght@600&display=swap');


body {
    background: url(/Screen\ 1.png);
    background-position: center ;
    background-repeat: no-repeat;
    
    
}

/*FONTE NAVBAR ____________________________________________*/

.fontNav {
font-family: 'Titillium Web', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 13px;
color: #FFFFFF;
text-decoration: none;
}


/*POSIÇÃO NAVBAR __________________________________________*/

#cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}

#navBar {
    display: flex;
    gap: 40px;
}

.fontNav:hover{
    font-size: 17px;
    text-decoration: underline;
}


.fimCabecalho {
    display: flex;
    gap: 20px;
    align-items: center;
}

#txtBusca {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    /*background-image: url(/icone_pesquisa.svg);
    background-repeat: no-repeat;
    background-position: right;*/
    background: transparent;
    border: none;
    background-image: url(/Group\ 792.png);
    background-position: center;
    width: 179px;
    height: 26px;
    padding-left: 30px;
    color: #757373;
}



#button {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #172575 0%, #293f86 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    width: 140px;
    height: 40px;
   }
   
   #button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
   }
   
   #button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
   }



/*CONTEÚDO PRINCIPAL _____________________________________*/

#main {
    display: flex;
    margin-top: 120px;
    margin-left: 96px;
    margin-bottom: 60px;
}
   
#txtGrande {
    width: 427px;
    height: 117px;
    margin-left: 105px;
    margin-top: 51px;
    margin-bottom: 20px;
    
}

#txtPequeno {
    font-family: 'Fahkwang', sans-serif;
    font-style: normal;
    font-weight: 275;
    font-size: 16.0747px;
    line-height: 27px;
    color: #FFFFFF;
    width: 323px;
    height: 89px;
    margin-left: 94px;
}

#NFT {
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 27px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow,transform;
    background: radial-gradient( 100% 100% at 100% 0%, #172575 0%, #293f86 100% );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    width: 176px;
    height: 45px;
    margin-left: 96px;
   }
   
   #NFT:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
   }
   
   #NFT:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
   } 

#qntPessoas {
    margin-top: 70px;
    margin-left: 96px;
}

#imgEstatua {
    margin-left: 500px;
}


#imgCoin {
width: 283px;
height: 107px;
margin-left: 500px;
}

#imgCoin img {
    width: 100%;
}

#precoCoin {
  position: absolute; 
  bottom: 90px; 
  right: 250px;
  text-align: center;
  color: #FFFFFF; 
}
   
/*FOOTER__________________________________________*/

.prototipo {
    text-align: center;
    
}





